h1{
    font-size: 50px;
}

.container .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 20vh;
    height: 100vh;
  }
  
  .container .content{
    width: 80vh;
    margin-left: 200px;
  }



 